.btn-cal {
	width: 50px;
	background-color: #222;
	height: 38px;
	border-right: thin #666 solid;
	border-radius: 2px 0 0 2px;
	cursor: pointer;

	i {
		color: #CCC;
	}
}

:host ::ng-deep {
  .ui-datepicker {
    z-index: 99999 !important;
  }

	.ui-inputtext {
		color: #333;
		background: #222;
		border: 1px solid #222;
		color: #CCC;
		border-radius: 0 2px 2px 0;
		min-width: 150px;
  }
  
}