mat-header-cell, mat-row mat-cell {
	&:nth-child(1) {
		width     : 40%;
		max-width : 40%;
	}
	&:nth-child(2) {
		width     : 20%;
		max-width : 20%;
	}
	&:nth-child(3) {
		width     : 15%;
		max-width : 15%;
	}
	&:nth-child(4) {
		width     : 10%;
		max-width : 10%;
	}
	&:nth-child(5) {
		width     : 15%;
		max-width : 15%;
	}
}
