@import "mixins/utilities";
@import "mixins/typography";
@import "mixins/type";
@import "mixins/buttons";
@import "mixins/shadows";
@import "mixins/vendor-prefixes";

@mixin mazaya-button-red() {
  background-color: #ff001b;
  border-color: #ff001b;

  &:hover {
    background-color: #ff001b;
    border-color: #ff001b;
  }
}

@mixin mazaya-button-black() {
  background-color: #0b0b0b;
  border-color: #0b0b0b;

  &:hover {
    background-color: #0b0b0b;
    border-color: #0b0b0b;
  }
}

@mixin border-radius($radius: 5px) {
  border-radius: $radius !important;
  -webkit-border-radius: $radius !important;
  -moz-border-radius: $radius !important;
  -o-border-radius: $radius !important;
}
