@import '../../../../assets/sass/scss/mixins/utilities';

.container--navbar {
	height           : 55px;
	margin-bottom    : 25px;
	overflow         : hidden;
	background-color : #474747;

	.arrow-back {
		float    : left;
		height   : 55px;
		color    : white;
		position : relative;
		width    : 55px;
		padding  : 17px;
		cursor   : pointer;
		display  : block;

		i.fa-arrow-left {
			font-size : 20px;
		}
	}
}

.container--user-add {
	background-color : white;
	//box-shadow       : 0 2px 3px #cccccc;
	overflow         : hidden;
	margin-bottom    : 40px;

	h2 {
		padding : 30px;
	}

	.row--details {
		margin-bottom : 40px;
	}

	.row--details__left {
		float        : left;
		width        : 25%;
		display      : block;
		padding-left : 40px;

		.user-role-tag {
			cursor  : pointer;
			padding : 10px 40px;
			margin  : 0 20px;
			border  : 1px solid #cccccc;
			@include border-radius();

			//&:hover {
			//	color            : white;
			//	background-color : #878b8d;
			//}

			&:hover {
				cursor : default;
			}

			&.active {
				color            : white;
				background-color : #878b8d;
			}
		}
	}

	.row--details__divider {
		margin : 0 40px;
		border : 1px solid #eeeeee;
	}

	.row--details__right {
		float         : right;
		width         : 66%;
		display       : block;
		padding-right : 40px;

		&.full {
			width : 100%;
		}

		.image-placeholder {
			width            : 230px;
			height           : 225px;
			margin           : 0 30px;
			background-color : #dbdbdb;
			@include border-radius();
			display          : flex;
			align-items      : center;
			justify-content  : center;
		}

		.row {
			position : relative;
		}

		.image-placeholder__inner {
			padding         : 10px;
			//margin  : 10px;
			border          : 2px dashed #666666;
			width           : 230px;
			height          : 225px;
			display         : flex;
			flex-direction  : column;
			align-items     : center;
			justify-content : center;
			@include border-radius();

			.icon-holder {
				margin-top    : 50px;
				margin-bottom : 10px;
			}

			.fa-user {
				color     : #cdcdcd;
				font-size : 80px;
			}

			.drag-drop-text {
				font-size : 12px;
			}

			a {
				color           : #333333;
				text-decoration : underline;
			}
			img {
				max-height : 175px;
			}
		}

		.form-pane {
			position     : absolute;
			right        : 0;
			width        : 42%;
			margin-right : 45px;
		}

		input.form-control {
			color         : #333333 !important;
			padding       : 0;
			border        : 0;
			border-bottom : 1px solid #333333;
			background    : transparent;
			@include placeholder-color(#333333);
		}

		.form-group {
			margin-top : 30px;
		}
	}

	.row--footer {
		float            : left;
		width            : 100%;
		display          : block;
		background-color : #f2f2f2;

		.save-button {
			border           : 0;
			padding          : 15px 50px;
			color            : white;
			font-size        : 12px;
			background-color : #878b8d;
		}
	}

	.form-control-feedback {
		font-size : 12px;
		color     : #333333;
	}
}
