<div class="container container--navbar p-0">
	<a routerLink="/app/account/profile" class="arrow-back">
		<i class="fas fa-arrow-left"></i>
	</a>
</div>

<div class="container container--user-add p-0">
	<div class="row row--details">
		<div class="row--details__right">
			<div class="row">
				<div class="col">
					<h5>CHANGE PASSWORD</h5>
					<form [formGroup]="userForm">
						<mat-form-field class="w-100">
							<mat-label>Old Password</mat-label>
							<input matInput type="password" formControlName="oldPassword">
						</mat-form-field>
						<small class="help-block"
									 style="color: red"
									 *ngIf="!userForm.get('oldPassword').valid && userForm.get('oldPassword').touched">
							Please enter your old password
						</small>
						<mat-form-field class="w-100">
							<mat-label>New Password</mat-label>
							<input matInput type="password" formControlName="newPassword">
						</mat-form-field>
						<small class="help-block"
									 style="color: red"
									 *ngIf="!userForm.get('newPassword').valid && userForm.get('newPassword').touched">
							Please enter your new password
						</small>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="row--footer">
		<button (click)="changePassword()"
		        type="button"
		        class="save-button pull-right">
			SAVE
		</button>
	</div>
</div>
