<div class="row tab-head mt-3">
	<ul class="list-inline mb-0">
		<li class="list-inline-item pt-3 pb-3 pl-5 pr-5" [routerLink]="['/app','sp','packages']"
		    routerLinkActive="active">
			Packages
		</li>
		<li class="list-inline-item pt-3 pb-3 pl-5 pr-5" [routerLink]="['/app','sp','services']"
		    routerLinkActive="active">
			Services
		</li>
		<li class="list-inline-item pt-3 pb-3 pl-5 pr-5" [routerLink]="['/app','sp','capacities']"
		    routerLinkActive="active">
			Capacities
		</li>
	</ul>
</div>
