
.service__box {
  background-color: #4a4b4b;
  min-height: 370px;
  width: 45%;
  margin-bottom: 20px;
  padding: 0;
}

img {
  height: 48px !important;
  width: auto;
  margin-bottom: 20px;
}

.service__header {
  margin: 20px 0 10px 0;
  h2 {
    color: #FFF;
  }
}

.service__badge {
  background-color: #d9d8d8;
  padding: 10px;

  span {
    text-align: left;
    width: 100%;
  }
}

.service__content {
  padding: 20px;
  color: #fff;
  min-height: 265px;
}

.service__footer {
  padding: 20px;

  button {
    padding: 10px;
    width: 120px;
    background-color: #898c8e;
    border: thin #898c8e solid;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
  }
}
