<div class="row">
	<div class="col-6">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Lorem Ipsum</h4>
			</div>
			<div class="card-body">
				<div class="card-block">
					<div class="height-200">
						<canvas height="200" baseChart class="chart" [datasets]="lineChartData" [labels]="lineChartLabels"
						        [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
						        [chartType]="lineChartType"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-3">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Lorem Ipsum</h4>
			</div>
			<div class="card-body">
				<div class="card-block">
					<div class="height-200">
						<canvas baseChart height="200" class="chart" [data]="doughnutChartData" [labels]="doughnutChartLabels"
						        [options]="doughnutChartOptions" [chartType]="doughnutChartType"
						        [colors]="doughnutChartColors"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-3">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Lorem Ipsum</h4>
			</div>
			<div class="card-body">
				<div class="card-block">
					<div class="height-200">
						<canvas height="200" baseChart class="chart" [data]="pieChartData" [labels]="pieChartLabels"
						        [options]="pieChartOptions" [chartType]="pieChartType" [colors]="pieChartColors"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-3">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Lorem Ipsum</h4>
			</div>
			<div class="card-body">
				<div class="card-block">
					<div id="pie-chart2" class="height-200">
						<ngx-charts-pie-chart [scheme]="pieChartColorScheme" [results]="pieChartSingle"
						                      [legend]="pieChartShowLegend" [explodeSlices]="pieChart1ExplodeSlices"
						                      [labels]="pieChartShowLabels" [doughnut]="pieChart1Doughnut"
						                      [gradient]="pieChartGradient">
						</ngx-charts-pie-chart>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-9">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Lorem Ipsum</h4>
			</div>
			<div class="card-body">
				<div class="card-block">
					<div id="horizontal-bar-chart" class="height-200">
						<ngx-charts-bar-horizontal-2d [scheme]="barChartColorScheme" [results]="barChartmulti"
						                              [gradient]="barChartGradient" [xAxis]="barChartShowXAxis"
						                              [yAxis]="barChartShowYAxis" [legend]="barChartShowLegend"
						                              [showXAxisLabel]="barChartShowXAxisLabel"
						                              [showYAxisLabel]="barChartShowYAxisLabel" [xAxisLabel]="barChartXAxisLabel"
						                              [yAxisLabel]="barChartYAxisLabel">
						</ngx-charts-bar-horizontal-2d>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
