<div class="container-fluid pl-2 pr-2">
	<div class="row">
		<div class="col-12">
			<mazaya-add-button title="Add new Capacity" [link]="['.','add']"></mazaya-add-button>
			<mazaya-sp-header></mazaya-sp-header>
			<div class="row grid-content">
				<div class="col-8">
					<mat-form-field class="w-100">
						<span matPrefix><img src="assets/img/icons/ic_search.png" class="pr-2 img-fluid"></span>
						<input matInput [(ngModel)]="searchQuery" (keyup)="applyFilter($event.target.value)" placeholder="Search">
						<button mat-button *ngIf="searchQuery" matSuffix mat-icon-button aria-label="Clear" (click)="searchQuery=''">
							<mat-icon>close</mat-icon>
						</button>
					</mat-form-field>
				</div>
				<div class="col-4 text-right">
					<mat-form-field class="w-100">
						<mat-label>Sort by</mat-label>
						<mat-select [(ngModel)]="sortBy" (selectionChange)="sortCapacities()">
							<mat-option value="package.name">Package Name (A-Z)</mat-option>
							<mat-option value="-package.name">Package Name (Z-A)</mat-option>
							<mat-option value="capacity">Capacity (highest first)</mat-option>
							<mat-option value="-capacity">Capacity (lowest first)</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="col-12">
					<div [hidden]="!capacitiesDataSource?.data?.length">
						<mat-table [dataSource]="capacitiesDataSource" class="table-fw">
							<ng-container matColumnDef="package-name">
								<mat-header-cell *matHeaderCellDef>Package Name</mat-header-cell>
								<mat-cell *matCellDef="let capacity">{{capacity.attributes.package?.name}}</mat-cell>
							</ng-container>

							<ng-container matColumnDef="capacity">
								<mat-header-cell *matHeaderCellDef>
									Capacity
								</mat-header-cell>
								<mat-cell *matCellDef="let capacity">
									<strong>{{capacity.attributes['open-orders']}}</strong> Open
									&nbsp;&#124;&nbsp;
									<strong>{{capacity.attributes['processing-orders']}}</strong> Processing
									&nbsp;&#124;&nbsp;
									<strong>{{capacity.attributes.reserved ? capacity.attributes.reserved : '0'}}</strong> Reserved
									&nbsp;&#124;&nbsp;
									<strong>{{ formatNegativeToZero(capacity.attributes.stocks) }}</strong> Available
									&nbsp;&#124;&nbsp;
									<strong>{{capacity.attributes.capacity}}</strong> Total
								</mat-cell>
							</ng-container>

							<ng-container matColumnDef="validity">
								<mat-header-cell *matHeaderCellDef>Validity</mat-header-cell>
								<mat-cell *matCellDef="let capacity">
									from {{ capacity.attributes['from-date-and-time-utc'] | formatDate:true }}
									to {{ capacity.attributes['to-date-and-time-utc'] | formatDate:true }}
								</mat-cell>
							</ng-container>

							<ng-container matColumnDef="actions">
								<mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
								<mat-cell *matCellDef="let capacity" class="d-flex justify-content-between">
									<div class="grid-action" (click)="deleteCapacity(capacity)">
										<img src="assets/img/icons/ic_deletemember.png" class="img-fluid" style="max-height:24px;">
										Delete Capacity
									</div>
								</mat-cell>
							</ng-container>

							<mat-header-row *matHeaderRowDef="columnsToDisplay;"></mat-header-row>
							<mat-row *matRowDef="let capacityData; columns: columnsToDisplay"></mat-row>

						</mat-table>

						<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50, 100]"
						               showFirstLastButtons></mat-paginator>
					</div>

					<div *ngIf="!capacitiesDataSource?.data?.length">
						<div class="row mb-2">
							<div class="col-12 text-center">
								No Records found. Please try a different Filter.
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
